@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --heading-color: #9490ff;
  --hr-color: #646369;
  --skills: #9490ff;
  --input: #646369;
  --btn: #9490ff;
  --enabled: #7d73fc;
  --hover: #7d73fc;
  --disabled: #2a2b33;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: #1b115e;
}

.landing .container .container-2 .container-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
}

.soc-wrk {
  display: flex;
  justify-content: center;
}

.soc-wrk a {
  color: #fff;
}

.navbar ul li a {
  color: #fff;
}

.nav-right {
  display: flex;
  gap: 15px;
}

.nav-right i {
  color: #fff;
}

.nav-right ul {
  display: flex;
  gap: 1rem;
}

.burger {
  display: none;
}

.text-center {
  margin: 0 auto;
}

.text-center h1 {
  font-size: 70px;
  line-height: 52px;
  text-align: center;
  color: var(--heading-color);
  padding-bottom: 2rem;
}

.text-center h3 {
  font-size: 40px;
  line-height: 46.88px;
  text-align: center;
  color: var(--white);
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.text-center p {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: var(--white);
  padding-bottom: 2rem;
}

hr {
  width: 35%;
  margin: 0 auto;
  height: 0;
  border: 1px solid var(--hr-color);
}

.total-skills {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--white);
  line-height: 32px;
}

.skills-flex {
  display: flex;
  gap: 2rem;
}

.language {
  font-size: 15px;
  color: var(--skills);
}

.flex-social {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.social-left {
  display: flex;
  gap: 20px;
}

.social-left i {
  color: var(--white);
}

.social-middle ul {
  display: flex;
  gap: 20px;
}

.social-right i {
  color: var(--white);
}

.social-middle ul i {
  color: var(--white);
}

.social-right {
  display: flex;
  gap: 20px;
}

.recent h3 {
  font-size: 64px;
  line-height: 114px;
  color: var(--heading-color);
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.recent hr {
  width: 85%;
  height: 0;
  border: 1px solid var(--hr-color);
}

input,
textarea {
  display: flex;
  flex-direction: column;
  width: 684px;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #646369;
  box-sizing: border-box;
}

input {
  height: 48px;
}

.box input {
  width: 520px;
  height: 400px;
  border: none;
  outline: none;
  background: #fff;
}

.lead-story h2 {
  font-size: 40px;
  line-height: 52px;
  color: var(--heading-color);
}

.lead-story p {
  font-size: 20px;
  line-height: 28px;
  color: #dfe1e6;
}

.lead-story-1 ul {
  display: flex;
  font-size: 15px;
  color: var(--white);
  gap: 15px;
  margin-top: 12px;
}

.lead-story-1 ul li {
  display: inline-block;
  background: none;
  border-right: 1px solid #646369;
  padding: 0.1rem 1rem;
  margin-top: 1px;
}

.btn-1 {
  display: inline-block;
  background: #9490ff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 1.1rem;
  margin-top: 12px;
}

.sub-flex {
  display: flex;
  gap: 20px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 3rem;
}

.text-center h2 {
  font-size: 40px;
  line-height: 24px;
  color: var(--skills);
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

form {
  width: 60%;
  margin: 0 auto;
}

.soc-wrk ul {
  display: flex;
  gap: 25px;
  padding-top: 2rem;
}

.soc-wrk ul li {
  display: inline-block;
  background: none;
  border-left: 1px solid #646369;
  padding: 0.15rem 0.5rem;
}

.last-btn {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.btn-ctc-2 {
  display: inline-block;
  background: #9490ff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
}

.soc-wrk a:hover {
  text-decoration: underline;
}

.text-center img {
  width: 70%;
  margin-left: 10rem;
}

.last-mobile {
  display: none;
}

.social-right-mobile {
  display: none;
}

.mob-contact {
  display: none;
}

.mobile-menu {
  display: none;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 25vh;
    background: #9490ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .text-center h1 {
    font-size: 45px;
    line-height: 65px;
    font-style: normal;
    color: var(--heading-color);
    padding-bottom: 2rem;
  }

  .text-center h3 {
    font-size: 40px;
    line-height: 46.88px;
    font-style: normal;
    text-align: center;
    color: var(--white);
    padding-bottom: 4rem;
  }

  hr {
    height: 0;
    border: 1px solid var(--hr-color);
  }

  .recent hr {
    width: 85%;
    height: 0;
    border: 1px solid var(--hr-color);
  }

  .text-center p hr {
    display: none;
  }

  .skills-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--white);
    line-height: 32px;
  }

  .language {
    font-size: 12px;
    color: var(--skills);
  }

  .flex-social {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  .social-left {
    display: none;
  }

  .social-middle ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .social-right-mobile i {
    color: var(--white);
  }

  .social-middle ul i {
    color: var(--white);
  }

  .social-right {
    display: none;
  }

  .social-right-mobile {
    display: flex;
    padding-left: 2rem;
    gap: 20px;
  }

  .social-right-mobile a {
    color: #7d73fc;
  }

  .recent h3 {
    font-size: 64px;
    line-height: 114px;
    color: var(--heading-color);
    padding-left: 3rem;
    padding-bottom: 2rem;
  }

  input,
  textarea {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 1rem;
    margin-bottom: 2rem;
    color: #646369;
    box-sizing: border-box;
  }

  input {
    height: 32px;
  }

  .box input {
    width: 376px;
    height: 245px;
    border: none;
    outline: none;
    background: #fff;
  }

  form {
    width: 60%;
    margin: 0 auto;
  }

  .lead-story h2 {
    font-size: 40px;
    line-height: 52px;
    color: var(--heading-color);
  }

  .lead-story p {
    font-size: 20px;
    line-height: 28px;
    color: #dfe1e6;
  }

  .lead-story-1 ul {
    display: flex;
    font-size: 15px;
    color: var(--white);
    gap: 15px;
    margin-top: 12px;
  }

  .lead-story-1 ul li {
    display: inline-block;
    background: none;
    border-right: 1px solid #646369;
    padding: 0.1rem 1rem;
    margin-top: 1px;
  }

  .soc-wrk {
    display: flex;
    justify-content: center;
  }

  .soc-wrk ul {
    display: flex;
    gap: 25px;
    padding-top: 2rem;
  }

  .soc-wrk ul li {
    display: inline-block;
    background: none;
    border-left: 1px solid #646369;
    padding: 0.15rem 0.5rem;
  }

  .last-btn {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
  }

  .btn-ctc {
    display: inline-block;
    background: #9490ff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
  }

  .soc-wrk a {
    color: #fff;
  }

  .soc-wrk a:hover {
    text-decoration: underline;
  }

  .btn-1 {
    display: inline-block;
    background: #9490ff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 1.1rem;
    margin-top: 12px;
  }

  .sub-flex {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
  }

  .flex-reverse {
    display: none;
  }

  .container-2 {
    display: none;
  }

  .text-center p {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--white);
    padding-bottom: 2rem;
  }
}
